@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Roboto', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;

  background: #efefbb;
  background: linear-gradient(to right, #d4d3dd, #efefbb);
}


.poke__card {
  background-color: rgb(222,253,224);
}

h1 {
  text-align: center;
  letter-spacing: 3px;
  margin: 20px 0 20px;
}

.poke__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 

}

.poke__card {
  background-color: #eee;
  border-radius: 10px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  margin: 15px;
  padding: 20px;
  text-align: center;
}

.poke__card:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform .2s ease;
}

.poke__img {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
}

.poke__img img {
  width: 120px;
  height: 110px;
  border-radius: 50%;
}

.poke__info {
  margin-top: 10px;
  
}

.poke__info .poke__number {
  background-color: rgba(0,0,0, 0.1);
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 0.8em;
}

.poke__info .poke__name {
  margin: 20px 0 5px;
  letter-spacing: 1px;
}
